<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
       
        <appender name="file" class="org.apache.log4j.RollingFileAppender">
            <param name="File" value="logs/server.log" />
            <param name="MaxFileSize" value="10MB" />  
            <param name="MaxBackupIndex" value="10" />  
            <layout class="org.apache.log4j.PatternLayout">
                <param name="ConversionPattern"
                       value="%d | %-5p | %m | %X{akkaSource} [%C{1}.%M(%L)]%n" />
            </layout>
        </appender>

        <logger name="arksea.azkaban" additivity="false">
            <level value="debug"/>
            <appender-ref ref="file"/>
        </logger>
        
        <root>
            <level value="info"></level>
            <appender-ref ref="file" />
        </root>

</log4j:configuration>
